asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
crypto==1.4.1
cryptography==44.0.2
Django==5.1.7
django-browser-reload==1.18.0
django-formtools==2.5.1
django-otp==1.5.4
django-phonenumber-field==8.0.0
django-tailwind==3.8.0
django-two-factor-auth==1.17.0
fernet==1.0.1
idna==3.10
Naked==0.1.32
phonenumbers==9.0.1
pyaes==1.6.1
pycparser==2.22
pycryptodome==3.22.0
pypng==0.20220715.0
PyYAML==6.0.2
qrcode==7.4.2
requests==2.32.3
shellescape==3.8.1
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.3.0
